# Ignore target directory
/target/

# Ignore IDE files
/.idea/
/.vscode/

# Ignore build output
/build/
/classes/
/bin/

# Ignore application properties
/application.properties

# Ignore .env file
.env

# Ignore .DS_Store files
.DS_Store